$font-text: Inconsolata
$font-headings: Geogrotesque-Medium
$font-other: Montserrat

$font-size-base: 17px

$color-bg-base: #1c1c20
$text-color-main: #f6f9fa
$sign-up-color: #171c24
$footer-color: #0e0f16
$button-color: #3caff3

$rotation: 30deg

$service-blocks_block-size: 12em
$case-block-size: 18em
